<h1> <%= @task.title %></h1>
<p>
<%= link_to "Delete #{@task.title}", task_path(@task), method: :delete %>
</p>


<p><%= link_to "Edit this task", edit_task_path(@task.id) %></p>

<ul>
    <li><%=  @task.details  %></li>
</ul>

<p><%= link_to "Back to list", tasks_path %></p>
